<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h2>Welcome</h2>
        <a href= "/admin_view"> Admin Details </a>
        <a href= "/admin_userview"> User Details </a>
        <a href= "/admin_driverview"> Driver Details </a>
        <p><a href="/adminlogout">Logout</a></p>

       <!-- /* <section class="admin">
            <div class="container">
                <table class="table table-bordered table-border text-center shadow">
                    <thead>
                        <tr>
                            <th>password</th>
                        </tr>
                            
                    </thead>
                    <tbody>
                        <% results.forEach(rslt => {%>
                        <tr>
                            <td><%= rslt.password%></td>
                        </tr>
                        <% }) %>
                    </tbody>
                    
                </table>
            </div>
        </section>
        

        <section class="user">
            <div class="container">
                <table class="table table-bordered table-border text-center shadow">
                    <thead>
                        <tr>
                            <th>user details</th>
                        </tr>
                            
                    </thead>
                    <tbody>
                        <% results2.forEach(rslt => {%>
                        <tr>
                            <td><%= rslt.name%></td>
                            <td><%= rslt.contact%></td>
                            <td><%= rslt.user_name%></td>
                            <td><%= rslt.password%></td>
                            <td><%= rslt.institute%></td>
                            <td><%= rslt.ride_id%></td>
                            <td><%= rslt.status%></td>
                        </tr>
                        <% }) %>
                    </tbody>
                    
                </table>
            </div>
         </section>
        


         <section class="driver">
            <div class="container">
                <table class="table table-bordered table-border text-center shadow">
                    <thead>
                        <tr>
                            <th>driver details</th>
                        </tr>
                            
                    </thead>
                    <tbody>
                        <% results3.forEach(rslt => {%>
                        <tr>
                            <td><%= rslt.cnic%></td>
                            <td><%= rslt.name%></td>
                            <td><%= rslt.address%></td>
                            <td><%= rslt.contact%></td>
                            <td><%= rslt.cars_type%></td>
                            <td><%= rslt.ride_history_ride_id%></td>
                            <td><%= rslt.ride_history_status%></td>
                            <td><%= rslt.ride_history_user_user_name%></td>
                        </tr>
                        <% }) %>
                    </tbody>
                    
                </table>
            </div>     -->
         <!-- </section> -->
        

    </body>
</html>