<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <table class="table table-bordered table-border text-center shadow">
            <thead>
                <tr>
                    <th>driver details</th>
                </tr>
                    
            </thead>
            <tbody>
                <% results3.forEach(rslt => {%>
                <tr>
                    <td><%= rslt.cnic%></td>
                    <td><%= rslt.name%></td>
                    <td><%= rslt.address%></td>
                    <td><%= rslt.contact%></td>
                    <td><%= rslt.cars_type%></td>
                    <td><%= rslt.ride_history_ride_id%></td>
                    <td><%= rslt.ride_history_status%></td>
                    <td><%= rslt.ride_history_user_user_name%></td>
                </tr>
                <% }) %>
            </tbody>
            
        </table>
    </div>
</body>
</html>