<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        </style>

    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <table class="table table-bordered table-border text-center shadow">
            <thead>
                <tr>
                    <th>cnic</th>
                    <th>name</th>
                    <th>address</th>
                    <th>contact</th>
                    <th>cars_type</th>
                    <th>date</th>
                    <th>time</th>
                    <th>pickup</th>
                    <th>dropoff</th>
                    <th>rating</th>
                    <th>cnic</th>
                    <th>ride_id</th>
                    <th>status</th>
                    <th>user_name</th>
                </tr>
                    
            </thead>
            <tbody>
                <% results.forEach(rslt => {%>
                <tr>
                    <td style="text-align:center"><%= rslt.cnic%></td>
                    <td style="text-align:center"><%= rslt.name%></td>
                    <td style="text-align:center"><%= rslt.address%></td>
                    <td style="text-align:center"><%= rslt.contact%></td>
                    <td style="text-align:center"><%= rslt.cars_type%></td>
                    <td style="text-align:center"><%= rslt.date%></td>
                    <td style="text-align:center"><%= rslt.time%></td>
                    <td style="text-align:center"><%= rslt.pickup%></td>
                    <td style="text-align:center"><%= rslt.dropoff%></td>
                    <td style="text-align:center"><%= rslt.rating%></td>
                    <td style="text-align:center"><%= rslt.driver_cnic%></td>
                    <td style="text-align:center"><%= rslt.ride_history_ride_id%></td>
                    <td style="text-align:center"><%= rslt.ride_history_status%></td>
                    <td style="text-align:center"><%= rslt.ride_history_user_user_name%></td>
                </tr>
                <% }) %>
            </tbody>
     
        </table>
    </div>
</body>
</html>