<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        </style>

    <title>Document</title>
</head>
<body>
    <div class="container">
        <table class="table table-bordered table-border black text-center shadow">
            <thead>
                <tr>
                    <th>Ride ID</th>
                    <th>Pickup</th>
                    <th>Dropoff</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Rating</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Name of Driver</th>
                </tr>
             

            </thead>
            <tbody>
                <% var i=0%>
                <% results.forEach(rslt => {%>
                <tr>
                    <td style="text-align:center"><%= rslt.ride_id%></td>
                    <td style="text-align:center"><%= rslt.pickup%></td>
                    <td style="text-align:center"><%= rslt.dropoff%></td>
                    <td style="text-align:center"><%= rslt.date%></td>
                    <td style="text-align:center"><%= rslt.time%></td>
                    <td style="text-align:center"><%= rslt.rating%></td>
                    <td style="text-align:center"><%= rslt.status%></td>
                    <td style="text-align:center"><%= rslt.type%></td>
                    <td style="text-align:center"><%= results2[i].name%></td>
                    <% i=i+1 %>
                </tr>
                <% }) %>
            </tbody>

        </table>
    </div>

</body>
</html>